.carousel-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.titulo-seccion {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin: 60px 0 30px;
  
}

.titulo-seccion::after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
  margin: 12px auto 0;
}