.footer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.581);
  color: white;
  padding: 0px 0;   
  line-height: 0,5;   
  font-size: 8px;   
  font-family: italic;
  bottom: 0;
  width: 100%;
  z-index: 10;
}