#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.page {
  position: relative;
}

/* CONTENIDO */
.presentacion {
  padding: 40px;
  text-align: center;
  transition: filter 0.3s ease;
}

.presentacion.locked {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.overlay-card input,
.overlay-card button {
  width: 100%;
  box-sizing: border-box;
}
.overlay-card {
  background: white;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
}

.overlay-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.overlay-card button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.change-password {
  cursor: pointer;
  font-size: 17px;
  text-decoration: underline;
  margin-top: 12px;
  
}